body
{
	margin: 0;
	padding: 0;
	color: #444;
	font: normal 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:small;
	min-height:1000px;
	background:-webkit-gradient(linear, left top, left bottom, from(#E5F1F4), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #fff));
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px; 
	border: 1px solid #aac5cc;
	background-color:#fff;
}
#loading{
	color:#fff;
	background:#c44 url(../images/26.gif) center center no-repeat;
	height:25px;
	width:120px;
	margin-left:-60px;
	top:10px;
	left:50%;
	display:inline-block;
	position:absolute;
	text-align:center;
	font-weight:bold;
	}
#header
{
	margin: 0;
	padding: 0;
}

#content
{
	min-height:345px;
	padding-bottom:30px;
}
.items-no-padding{
	padding:5px 0px 5px 0px;
}
.items-add-padding{
	padding:5px 15px 5px 15px;
}
#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
}

#logo
{
	padding: 5px 20px;
	font-size: 200%;
}

#mainmenu
{
	
	background-color:#0074c5;
}

#mainmenu ul
{
	margin:0px;
	display:inline-block;
	float:right;
}

#mainmenu ul li
{
	display:inline-block;
	float:left;
}

#mainmenu ul li a
{
	color:#fff;
	text-decoration:none;
	padding:0px 8px;
	line-height:30px;
	height:30px;
	display:inline-block;
	border-left:#0074c5 solid 1px;
	border-right:#0074c5 solid 1px;
	font-size: small;
	font-family: arial,sans-serif;
}
#mainmenu ul li a.more
{
}
#mainmenu ul li a:hover{
	color: #F90;
	}
#mainmenu ul li.active a
{
	background-color:#0160a3;
	text-decoration:none;
	border-right:#015b9a solid 1px;
	border-left:#015b9a solid 1px;
}
#mainmenu ul li a.more-down{
	color:#06C;
	background-color:#E5F1F4;
	}
div.title{
	float:left;
	height:30px;
	}
div.title a{
	display:block;
	line-height:30px;
	color:#fff;
	padding:0 20px;
	font-size:30px;
	height:30px;
	}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding:10px 15px;
	float:left;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}
#sidebar{
	float:right;
	padding:10px 15px;
	}
.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
	float:right;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0074c5;
	display:inline-block;
	float:left;
	padding: 2px 8px 2px 8px;
	margin-left:1px;
	border-bottom:solid 1px #0074c5;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:hover
{
	border-bottom-color:#C00;
	color: #C00;
}
.operations li.active a
{
	border-bottom-color:#C00;
	color: #C00;
}
div.div-item{
	margin-bottom:20px;
	}
h2.items-title{
	color:#06C;
	margin:0;
	line-height:30px;
	height:30px;
	display:block;
	}
div.item-block{
	padding:10px;
	border:solid #ddd 1px;
	background-color:#eee;
	}
div.item-block:hover{
	background-color:#f9f9f9;
	}
div.add-transition{
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	}
div.header-main{
	width:100%;
	min-width:1102px;
	}

div.second-menu{
	height:0;
	opacity:0;
	overflow:hidden;
	}
div.second-menu .s-m-main{
	background-color:#E5F1F4;
	border-bottom:solid 1px #aac5cc;
	padding:7px;
	}
div.second-menu .s-m-main ul.s-m-m-u{
	margin:0 auto;
	padding:0;
	}
div.second-menu .s-m-main ul.s-m-m-u li{
	display:inline-block;
	float:left;
	}
div.second-menu .s-m-main ul.s-m-m-u li.second-menu-hidden{
	float:right;
	}

div.second-menu .s-m-main ul.s-m-m-u li.second-menu-hidden span{
	display:inline-block;
	width:15px;
	height:15px;
	background:url(../images/delete.png) center center no-repeat;
	}
div.second-menu .s-m-main ul.s-m-m-u li a{
	padding:0 7px;
	line-height:20px;
	text-decoration:none;
	}
div.site-index{
	background:url(../images/261403.jpg) center center no-repeat;
	}
div.site-index h2{
	display:block;
	background-color:#fff;
	width:300px;
	text-align:center;
	margin:0;
	height:40px;
	color:#555;
	border-left:solid 3px #FC3;
	line-height:40px;
	}
.buttom{
	background-color:#555;
	border:solid 1px #444;
	color:#fff;
	padding:5px 10px;
	cursor:pointer;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	}
.buttom:hover{
	background-color:#0074c5;
	border:solid 1px #015b9a;
	color:#fff;
	}
table{
	table-layout: fixed;
	word-wrap:break-word;
	}
td(
	word-break: break-all; 
	)
	
/** text editer **/
.editer .e-title input{
	}
.editer .e-body{
	border:solid 1px #ddd;
	overflow:hidden;
	}
.editer .e-body textarea{
	width:1050px;
	max-width:1070px;
	margin:0 auto;
	padding:10px;
	min-height:350px;
	height:auto;
	border:solid 1px #fff;
	}
div.login-frame{
	}
div.side-img-main img{
	width:649px;
	}
div.left-side-targer{
	float:left;
	width:649px;
	}
div.login-form{
	float:right;
	width:380px;
	}
/* char frame */
#item-test-chart{
	text-align:center;
	width:1070px;
	height:350px;
	background:url(../images/loading.gif) center center no-repeat;
	}
/* hl table style */
div.hl-table div.summary , div.hl-table div.pager{
	text-align:right;
	padding:5px 0;
	}
div.hl-table table.items{
	margin:0 auto;
	}
div.hl-table table.items thead th{
	padding: 5px 15px 5px 5px;
	background-color: #D5D5D5;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	text-align:center;
	}
div.hl-table table.items thead tr.filters td{
	}
div.hl-table table.items thead th a{
	text-decoration:none;
	color:#222;
	}
div.hl-table table.items thead td input{
	width:100%;
	border:solid #ccc 1px;
	}
div.hl-table table.items tr td{
	padding: 3px 5px 3px 5px;
	background-color: #EFEFEF;
	border-bottom: 1px solid #ccc;
	color:#222;
	}
div.hl-table table.items tr:hover td{
	background-color: #f9f9f9;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	}
div.hl-table table.items tr.selected td{
	background-color: #FFFFFF;
	color:#0074C5;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	}
div.form{
	background-color:#EDF7FC;
	border-bottom:1px solid #CEE3ED;
	border-top:1px solid #CEE3ED;
	}
div.form form{
	padding:10px;
	}
.form input[type=text], .form input[type=password], .form input[type=email], .form input[type=number], .form input[type=tel], .form textarea {
	background-color:#FFFFFF !important;
	border:1px solid #CEE3ED !important;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	}
.form input[type=text]:focus, .form input[type=password]:focus, .form input[type=email]:focus, .form input[type=number]:focus, .form input[type=tel]:focus, .form textarea:focus {
	box-shadow: inset 0px 0px 9px rgba(0, 0, 0, .1);
	}
div.detail-view-block{
	padding:10px 0;
	background-color:#EDF7FC;
	border-bottom:1px solid #CEE3ED;
	border-top:1px solid #CEE3ED;
	}
table.hl-detail-view{
	}
table.hl-detail-view tr th{
	width:300px;
	text-align:right;
	}
table.hl-detail-view tr.even{
	background-color:#CEE3ED;
	}